.custom-container-wrapper {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:50px;
}

.typewriter{
    min-height: 57px;
    color:#f7ff3c;
    font-weight:700;
    font-size:35px;
}

button {
    background: transparent;
    width: 150px;
    border-radius: 50px !important;
    font-size: 20px;
}

button:hover {
    background: #cccccc;
    color: black;
}
.header-data{
    color:#00ffb2;
    font-size: 45px;
}
button {
    width: 166px;
    height: 47px;
    color: #cccccc;
    background: transparent;
}
button.connect-wallet-btn:hover {
    background: #cccccc;
}
button:hover {
    width: 166px;
    height: 47px;
    color: black;
    background: #cccccc;
    path {
        color: black;
        background:transparent;
    }
}