*{
color:#cccccc;
}

.back-home {
    height: 50px;
    width: 141px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #cccccc;
    text-align: center;
    padding-top: 10px;
}
img.success-logo {
    max-height: 65px;
    max-width: 65px;
    margin-right: 30px;
}
.lost-test-wrapper{
    margin-right: 20px;

}

.scrolling-images {
    height: auto;
    max-height: 400px;
}
@media screen and (max-width: 985px) {
    button.navbar-toggler.collapsed {
        background: #cccccc;
    }
    .header-toggle-buttons {
        float: right;
        margin-top: 10px;
    }
    button.connect-wallet-btn.btn.btn-light {
        margin-right: 0px;
    } 
     
}
@media (max-width: 765px) {
    .row-selected {
      display: flex;
      flex-direction: column-reverse;
    }
    .container-selected {
        margin-top: 50px;
    }
    .col-md-7.text-wrapping {
        padding: 0px;
    }
    .row.row-selected {
        margin-top: -25px;
    }
    
  }

@media screen and (max-width: 400px) {
    button.navbar-toggler {
        width: 55px;
        background: #cccccc;
    }
}



button.connect-wallet-btn {
    margin-right: 10px;
}

.popup {
    border: 2px solid white;
    background: #121836c4;
    min-height: 400px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    top: 140px;
    left: 40%;
    /* right: 35%; */
    color: black;
    min-width: 25%;
}

.popup-inner h2 {
    font-size: 46px;
}

.popup-inner label {
    font-size: 20px;
    padding-bottom: 12px;
}



select {
    background: #ffffff24;
}

input[type="number"] {
    background: #ffffff24;
}
select {
    width: 134px;
}

input.investment-label {
    width: 134px;
}
.popup-inner button {
    display: block;
    margin: auto;
}


@media screen and (max-width:770px) {
    .popup{
        left: 25%;
    }
}
@media screen and (max-width:470px) {
    .popup{
        left: 10%;
    }
}

@media screen and (max-width:370px) {
    .popup{
        left: 1%;
    }
}